<h1>
  Fixer Currency Exchange
</h1>

<div class="main"> 
  <div class="">
    <input type="text" name="base" [(ngModel)]="baseValue" (keyup)="editBase()">
    <select name="basecurrencies" id="" (change)="_fetchRates($event.target.value)">
      <option *ngFor="let currency of bases">{{ currency }}</option>
    </select>
  </div>
  <div>
    <input type="text" name="converter" [(ngModel)]="exchangeValue" (keyup)="editCurrency()">
    <select name="basecurrencies" id="" (change)="currencyChange($event.target.value)">
      <option *ngFor="let currency of currencyKeys">{{ currency }}</option>
    </select>
  </div>
</div>
